extends layout

block content
  .ui.container
    h1= title
    form.ui.search.item(method="get", id="search-form")
      .ui.grid.three.column.stackable
        .left.floated.column
          .ui.left.icon.input
            input.wide(type="text", name="search", placeholder="Search GitHub Repos")
            i.search.icon
        .right.floated.column.right.aligned
          .ui.form
            .field
              select(name="sort", onchange="this.form.submit()")
                option(value="") Best Match
                option(value="forks") Most Forks
                option(value="stars") Most Stars
        
    .ui.grid
      .ui.centered.inline.loader
    
    #repos-container
      #repos-list.ui.relaxed.divided.list
        if items.length > 0
          each item in items
            .item
              .content
                h2= item.name
                p.description= item.description
                .owner
                  p= item.owner.login
                .meta
                  p= item.stargazers_count
                  p= item.forks_count
